<!doctype html>
<title>Milestone Project by CYX</title>
<link rel=stylesheet type=text/css href='{{ url_for('static', filename='style.css') }}'>
<div class=page>
  <h1>User Input</h1>
  <div class=metanav>

    <h4>
      Please enter a stock ticker eg. GOOG, and check desired features.
    </h4>

    <form id='userinput' method='post' action='graph'>
      <p>
    Ticker Symbol: <input type='text' name='ticker'>
      </p>
      <p>
    Closing Price: 
    <input type='checkbox' name='close' value='1'/> <br>
    Adjusted Closing Price: 
    <input type='checkbox' name='adj_close' value='1'/> <br>
    Volume: 
    <input type='checkbox' name='volume' value='1'/> <br>
      </p>
      <p>
    <input type='submit' value='Submit'>
      </p>
    </form>

  </div>
</div>
